.sidebarAnchorPane {
  -fx-background-color: #27303D;

  .button{
    -fx-pref-width: 250px;
    -fx-pref-height: 60px;

    -fx-border-width: 1px;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;

    -fx-background-color: #27303D;
    -fx-border-color: #414955;
    -fx-text-fill: #ffffff;
  }

  .button:hover{
    -fx-background-color: #38404c;
  }

}